@import '_variable.scss';

span {
  letter-spacing: 0.2px;
  transform: skew(-0.03deg);
  flex: none;

  &.error {
    color: $red;
  }

  &.small {
    font-size: 0.8em;
  }

  &.regular {
    font-size: 0.9em;
  }

  &.large {
    font-size: 1.0em;
  }
}

@media (pointer: coarse) {
  span {
    letter-spacing: 0.2px;

    &.small {
      font-size: 0.9em;
    }

    &.regular {
      font-size: 1.0em;
    }

    &.large {
      font-size: 1.1em;
    }
  }
}
