@import '_variable.scss';

span {
  font-size: 0.8em;
  letter-spacing: -1.2px;
  transform: skew(-0.03deg);

  &.error {
    color: $red;
  }
}

@media (pointer: coarse) {
  span {
    font-size: 1.0em;
  }
}
