@import '_variable.scss';

.IconBreakfast, .IconLunch, .IconDinner, .IconSnack {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 20px;
  font-size: 0.8em;
  text-align: center;
  color: $white;
  border-radius: 6px;
  border: 1px solid $rightgray;
  padding: 5px 10px;

  &.IconBreakfast {
    background-color: $yellow;
  }

  &.IconLunch {
    background-color: $green;
  }

  &.IconDinner {
    background-color: $blue;
  }

  &.IconSnack {
    background-color: $darkgray;
  }
}

.IconDefault {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 20px;
  font-size: 0.8em;
  text-align: center;
  color: $darkgray;
  background-color: $white;
  border-radius: 6px;
  border: 1px solid $gray;
  padding: 5px;
}
