.FoodList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  overflow-y: scroll;
  text-align: center;

  .FoodFeed {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .NutrientsText {
      display: flex;
      justify-content: space-between;
    }

    .NutrientsIconList {
      display: flex;
      gap: 10px;
    }
  }
}
