@import '_variable.scss';

.title {
  color: $darkgray;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: -1.2px;
  transform: skew(-0.03deg);
  margin: 0;
  flex: none;
}

@media (max-width: 620px) {
  .title {
    font-size: 1.2em;
  }
}
