@import '_variable.scss';

/* Header Style */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: $rightgray;
  border-bottom: 1px solid $gray;
  padding: 0 15%;
  box-sizing: border-box;
  z-index: 99;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .HeaderLeft {
    width: 25%;
    justify-content: flex-start;

    img {
      width: 90px;
      padding-top: 5px;
    }
  }

  .HeaderCenter {
    width: 50%;
    justify-content: center;
    gap: 25px;
  }

  .HeaderRight {
    width: 25%;
    justify-content: flex-end;
    gap: 1.2em;

    svg {
      font-size: 1.4em;
    }
  }
}

@media (max-width: 1200px) and (pointer: fine) {
  header {
    padding: 0 5%;

    .HeaderLeft {
      img {
        width: 80px;
      }
    }
  }
}

@media (pointer: coarse) {
  header {
    padding: 0 20px;

    .HeaderLeft {
      img {
        width: 70px;
      }
    }

    .HeaderCenter {
      justify-content: center;
    }
  }
}
