@import '_variable.scss';

/* Header Style */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: $rightgray;
  border-bottom: 1px solid $gray;
  padding: 0 10%;
  box-sizing: border-box;
  z-index: 99;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33.3%;
  }

  .HeaderLeft {
    justify-content: flex-start;
    padding-top: 5px;

    img {
      width: 120px;
    }
  }

  .HeaderCenter {
    justify-content: center;
    gap: 30px;
  }

  .HeaderRight {
    justify-content: flex-end;
    cursor: pointer;
  }
}

@media (max-width: 1200px) and (pointer: fine) {
  header {
    padding: 0 5%;

    .HeaderLeft {
      img {
        width: 80px;
      }
    }
  }
}

@media (pointer: coarse) {
  header {
    padding: 0 20px;

    .HeaderLeft {
      img {
        width: 80px;
      }
    }

    .HeaderCenter {
      justify-content: center;
      gap: 20px;
    }
  }
}
