@import '_variable.scss';

.MainTemplate {
  width: 100%;
  box-sizing: border-box;

  .MainContents {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    box-sizing: border-box;
    background-color: $white;

    > div.leftContents, div.rightContents {
      width: 50%;
      height: 100%;
    }
  }
}
