@import '_variable.scss';

.MainTemplate {
  width: 100%;

  .MainContents {
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding-top: 50px;
    box-sizing: border-box;
    background-color: $white;

    .leftContents, .rightContents {
      width: 50%;
      height: fit-content;
      min-height: 100%;
      padding: 50px 6.8%;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      background-color: $gray;
    }
  }
}

@media (max-width: 1200px) and (pointer: fine) {
  .MainTemplate {
    .MainContents {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 100%;

      .leftContents, .rightContents {
        width: 100%;
        padding: 50px 12%;
      }

      .rightContents {
        border-top: 2px solid $gray;
      }

      &:before {
        display: none;
      }
    }
  }
}

@media (pointer: coarse) {
  .MainTemplate {
    .MainContents {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 100%;

      .leftContents, .rightContents {
        width: 100%;
        padding: 50px 10%;
      }

      .rightContents {
        border-top: 2px solid $gray;
      }

      &:before {
        display: none;
      }
    }
  }
}
