@import '_variable.scss';

.MainTemplate {
  width: 100%;
  box-sizing: border-box;

  .MainContents {
    display: flex;
    flex-flow: row;
    width: 100%;
    background-color: $white;

    > div {
      width: 50%;
    }
  }
}
