.defaultTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainArea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 40px;
    padding: 0 40px 40px;
    overflow-y: scroll;
  }
}

@media (pointer: coarse) {
  .defaultTemplate {
    .mainArea {
      padding: 0 30px 30px;
    }
  }
}
