@import '_variable.scss';

/* Button Style */
.Button {
  width: 100%;
  height: 50px;
  line-height: 54px;
  padding: 0 20px;
  border: none;
  border-radius: 10px;
  font-size: 0.8em;
  font-family: inherit;
  cursor: pointer;

  /* positive */
  &.Button_positive {
    background-color: $blue;
    color: white;
  }

  /* negative */
  &.Button_negative {
    background-color: $red;
    color: white;
  }

  /* default */
  &.Button_default {
    width: fit-content;
    background-color: transparent;
    color: $darkgray;
    padding: 0px;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

@media (pointer: coarse) {
  .Button {
    font-size: 1.0em;
    height: 40px;
    line-height: 42px;
  }
}
