@import '_variable.scss';

.DefaultTemplate {
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 80px 0;
  box-sizing: border-box;
  background-color: $white;

  .DefaultContents {
    display: flex;
    flex-flow: column;
    gap: 40px;
    width: 100%;
    max-width: 640px;
    min-width: 480px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (pointer: coarse) {
  .DefaultTemplate {
    height: 100vh;
    margin: 0px;
    padding: 40px 6vw;
    box-sizing: none;

    .DefaultContents {
      width: 100%;
      max-width: none;
      min-width: unset;
      margin: 0px;
    }
  }
}

@media (max-width: 1200px) and (pointer: fine) {
  .DefaultTemplate {
    height: 100vh;
    margin: 0px;
    padding: 60px 20vw;

    .DefaultContents {
      max-width: none;
      min-width: unset;
    }
  }
}
