@import '_variable.scss';

a {
  position: relative;
  width: 100%;
  text-align: center;
  letter-spacing: -1.2px;
  color: $darkgray;
  text-decoration: none;

  span {
    display: inline-block;
    position: relative;
    padding: 0 5px;
    font-size: 0.65em;

    &.line:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $blue;
      bottom: -5px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &.line:hover:before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}
