@import '_variable.scss';

.CalorieInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-right: 2px solid $gray;

  .CalorieInfoTextArea {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 1200px) and (pointer: fine) {
  .CalorieInfo {
    border-right: none;
    border-bottom: 2px solid $gray;
  }
}

@media (pointer: coarse) {
  .CalorieInfo {
    border-right: none;
    border-bottom: 2px solid $gray;
  }
}
