@font-face {
  font-family: 'HallymGothic-Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'HallymGothic-Medium', 'Roboto', sans-serif;
  color: #000;
  background-color: #f9f9f9;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* mobile */
@media (pointer: coarse) {
  body {
    font-size: 16px;
  }
}
