.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 0px 999px 999px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 2;

  .ModalArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

@media (pointer: coarse) {
  .Modal {
    width: 90%;
    padding: 32px;

    .ModalArea {
    }
  }
}
